:root {
  color-scheme: dark;
  --fg: #f2f2f2;
  --bg: var(--gray2);
  --text-color: #e5e5e5;
  --text-size: 16px;
  --alpha: rgba(28,28,28,0.9);
  --gray1: #161616;
  --gray2: #1c1c1c;
  --gray3: #232323;
  --gray4: #282828;
  --gray5: #2e2e2e;
  --gray6: #343434;
  --gray7: #3e3e3e;
  --gray8: #505050;
  --gray9: #707070;
  --gray10: #7e7e7e;
  --gray11: #a0a0a0;
  --gray12: #ededed;
  --grayA1: hsl(0 0% 100%/0);
  --grayA2: hsl(0 0% 100%/0.026);
  --grayA3: hsl(0 0% 100%/0.056);
  --grayA4: hsl(0 0% 100%/0.077);
  --grayA5: hsl(0 0% 100%/0.103);
  --grayA6: hsl(0 0% 100%/0.129);
  --grayA7: hsl(0 0% 100%/0.172);
  --grayA8: hsl(0 0% 100%/0.249);
  --grayA9: hsl(0 0% 100%/0.386);
  --grayA10: hsl(0 0% 100%/0.446);
  --grayA11: hsl(0 0% 100%/0.592);
  --grayA12: hsl(0 0% 100%/0.923);
  --blue1: #0f1720;
  --blue2: #0f1b2d;
  --blue3: #10243e;
  --blue4: #102a4c;
  --blue5: #0f3058;
  --blue6: #0d3868;
  --blue7: #0a4481;
  --blue8: #0954a5;
  --blue9: #0091ff;
  --blue10: #369eff;
  --blue11: #52a9ff;
  --blue12: #eaf6ff;
}
