@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

::selection {
  color: white;
  background: theme('colors.purple.500')
}
